In [1]:
# import modules
import os
import pandas as pd

In [2]:
# Set the file path
final_billionaires_statistics_csv = "/Users/yenori/Documents/GitHub Repos/Project 1 (My branch)/Final_Billionaires_Statistics.csv"

In [3]:
# Read the CSV file
pd.read_csv(final_billionaires_statistics_csv)

,rank,finalWorth,category,personName,age,country,city,source,industries,countryOfCitizenship,...,latitude_country,longitude_country,Marital Status,Children,Education,Bachelor,Master,Doctorate,Drop Out,Self Made
0,1,211000,Fashion & Retail,Bernard Arnault & family,74.0,France,Paris,LVMH,Fashion & Retail,France,...,46.227638,2.213749,Married,5.0,"Bachelor of Arts/Science, Ecole Polytechnique ...",1.0,0.0,0.0,0.0,0
1,2,180000,Automotive,Elon Musk,51.0,United States,Austin,"Tesla, SpaceX",Automotive,United States,...,37.090240,-95.712891,Single,10.0,"Bachelor of Arts/Science, University of Pennsy...",1.0,0.0,0.0,0.0,1
2,3,114000,Technology,Jeff Bezos,59.0,United States,Medina,Amazon,Technology,United States,...,37.090240,-95.712891,Engaged,4.0,"Bachelor of Arts/Science, Princeton University",1.0,0.0,0.0,0.0,1
3,4,107000,Technology,Larry Ellison,78.0,United States,Lanai,Oracle,Technology,United States,...,37.090240,-95.712891,In Relationship,4.0,"Drop Out, University of Chicago; Drop Out, Uni...",0.0,0.0,0.0,1.0,1
4,5,106000,Finance & Investments,Warren Buffett,92.0,United States,Omaha,Berkshire Hathaway,Finance & Investments,United States,...,37.090240,-95.712891,"Widowed, Remarried",3.0,"Master of Science, Columbia University; Bachel...",1.0,1.0,0.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2635,2636,1000,Healthcare,Yu Rong,51.0,China,Shanghai,Health clinics,Healthcare,China,...,35.861660,104.195397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2636,2637,1000,Food & Beverage,"Richard Yuengling, Jr.",80.0,United States,Pottsville,Beer,Food & Beverage,United States,...,37.090240,-95.712891,Divorced,4.0,"Drop Out, Lycoming College",0.0,0.0,0.0,1.0,0
2637,2638,1000,Manufacturing,Zhang Gongyun,60.0,China,Gaomi,Tyre manufacturing machinery,Manufacturing,China,...,35.861660,104.195397,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2638,2639,1000,Real Estate,Zhang Guiping & family,71.0,China,Nanjing,Real estate,Real Estate,China,...,35.861660,104.195397,Married,1.0,"Bachelor of Arts/Science, South East University",1.0,0.0,0.0,0.0,1
2639,2640,1000,Diversified,Inigo Zobel,66.0,Philippines,Makati,Diversified,Diversified,Philippines,...,12.879721,121.774017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0